parameters:
    level: 5
    paths:
        - app
        - database/factories
        - database/seeders
        - tests
        - Modules
    excludePaths:
        - storage/*
        - bootstrap/*
        - app/Providers
        - Modules/*/Providers/*
